/* General styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0c1f3b;
    color: #fff;
}

nav {
    background-color: #1c3b5a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffcc00;
}

.input_container, .register_container, .login_container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #112e51;
    box-shadow: 0 9px 15px rgba(0, 0, 0, 1);
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffcc00;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    max-width: 500px;  /* Added a max-width */
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    margin: 0 auto; /* Center the input fields */
}

button[type="submit"], button[type="reset"] {
    width: fit-content;  /* Button width will adjust to its content */
    align-self: center;  /* Center the buttons */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover, button[type="reset"]:hover {
    background-color: #ffcc00;
    color: #333;
    transition: 0.3s;
}

.todo_list {
    margin: 40px auto;
    width: 80%;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 9px 15px rgba(0, 0, 0, 1);
    background-color: #112e51;
}

th, td {
    padding: 15px;
    border-bottom: 1px solid #1d4e89;
}

th {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

tr:nth-child(even) {
    background-color: #163865;
}

.todo_list a {
    color: #ffcc00;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ffcc00;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.todo_list a:hover {
    background-color: #ffcc00;
    color: #333;
}
    